@font-face {
  font-family: "Filson Pro";
  src: url("/public/fonts/FilsonPro/FilsonProMedium.otf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/public/fonts/ProximaNova/ProximaNova-Regular.otf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/public/fonts/ProximaNova/ProximaNovaAlt-Bold.otf");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Filson Pro";
  font-style: normal;
  font-weight: 500;
}
p,
span {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: normal;
}
